:root {
    --but-txt-vibrant: #282c34;
    --but-bg-vibrant: #FFF;
}

.card {
    border: 2px solid #1eb1de;
    border-radius: 25px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 90px;
    background-color: #25323b;
}

.card li {
    text-align: left;
    margin-inline-start: 100px;
    font-size: 20px;
}
.card .title {
    text-align: center;
    font-size: 25px;
    font-style: oblique;
    color: #ffffff;
}
.card .skills {
    text-align: center;
    font-size: 20px;
    color: #ffffff;
}
.card .duration {
    text-align: center;
    font-size: 20px;
    color: #ffffff;
}

.card .company {
    text-align: center;
    font-size: 20px;
    color: #ffffff;
}

.divider {
    border-bottom: 1px solid #ffffff;
    margin-inline-start: 400px;
    margin-inline-end: 400px;
}

.beautiful-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007b5e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.beautiful-button:hover {
    background-color: #00594c;
}


button.vibrant {
    border: 1px solid var(--but-txt-vibrant);
    outline: none;
    color: var(--but-txt-vibrant);
    padding: 8px 12px;
    border-radius: 6px;
    background: var(--but-bg-vibrant);
    margin-left: 30px;
}
button.vibrant:hover {
    border: 1px solid var(--but-bg-vibrant);
    color: var(--but-bg-vibrant);
    background: var(--but-txt-vibrant);
}

header {
    background-color: #282c34;
    padding: 10px;
    text-align: center;
    font-size: 35px;
    color: #ffffff;
    font-style: oblique;
}