:root {
    --but-txt-vibrant: #282c34;
    --but-bg-vibrant: #FFF;
    --secondary-color: #007b5e;
}




.card {
    width: 800px; /* Specify the desired width as a percentage of the screen width */
    border: 1px solid #1eb1de;
    border-radius: 25px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 50px;
    background-color: #25323b;
}

@media (max-width: 768px) {
    .card {
        width: 90%;
        margin: 10px;
    }

    .card li {
        font-size: 11px;
    }
    .card .title {
        font-size: 10px;
    }
}

.card li {
    text-align: left;
    margin-inline-start: 20px;
    font-size: 20px;
}


.card .title {
    text-align: center;
    font-size: 25px;
    font-style: normal;
    color: #ffffff;
}

.card .duration {
    text-align: center;
    font-size: 18px;
    color: #ffffff;
}

.card .company {
    text-align: center;
    font-size: 18px;
    color: #ffffff;
}

.card .missions {
    text-align: start;
    font-style: normal;
    font-size: 18px;
    color: #ffffff;
}

.card .skills {
    text-align: center;
    font-style: italic;
    font-size: 16px;
    color: #ffffff;
}

.divider {
    border-bottom: 1px solid #ffffff;
    margin-inline-start: 100px;
    margin-inline-end: 100px;
    margin-bottom: 20px;
    margin-top: 5%;
}

.beautiful-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007b5e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 20px;

}

.beautiful-button:hover {
    background-color: #00594c;
}

button.vibrant_center {
    border: 1px solid var(--but-txt-vibrant);
    outline: none;
    color: var(--but-txt-vibrant);
    padding: 8px 12px;
    background: var(--but-bg-vibrant);
    height: 40px;
}


button.vibrant_end {
    border: 1px solid var(--but-txt-vibrant);
    outline: none;
    color: var(--but-txt-vibrant);
    padding: 8px 12px;
    background: var(--but-bg-vibrant);
    border-radius: 0px 15px 15px 0px;
    height: 40px;
    width: max-content;
}

button.vibrant_start {
    border: 1px solid var(--but-txt-vibrant);
    outline: none;
    color: var(--but-txt-vibrant);
    padding: 8px 12px;
    background: var(--but-bg-vibrant);
    height: 40px;
    width: max-content;
}

button.vibrant {
    border: 1px solid var(--but-txt-vibrant);
    outline: none;
    color: var(--but-txt-vibrant);
    padding: 8px 12px;
    border-radius: 6px;
    background: var(--but-bg-vibrant);
    margin-left: 30px;
}
.vibrant_start:hover, .vibrant_end:hover, .vibrant_center:hover,
button.vibrant:hover {
    border: 1px solid var(--but-bg-vibrant);
    color: var(--but-bg-vibrant);
    background: var(--but-txt-vibrant);
}




header {
    background-color: #282c34;
    padding: 10px;
    text-align: center;
    font-size: 35px;
    color: #ffffff;
    font-style: normal;
}

/* Header.css */

/* Default styles for larger screens */
.header nav {
    display: flex;
}


/* Media query for smaller screens (e.g., mobile devices) */
@media (max-width: 768px) {
    .header nav {
        flex-direction: column; /* Stack buttons vertically */
        align-items: center; /* Center buttons */
    }

    .header button {
        margin-right: 0; /* Remove spacing between buttons */
        margin-bottom: 10px; /* Adjust the spacing between stacked buttons */
    }
}












.job_title{
    text-align: center;
    font-size: 25px;
    color: #bababa;
    font-style: normal;
}


.current_location{
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    font-style: normal;
}

.description{
    text-align: center;
    font-size: 25px;
    color: #ffffff;
    font-style: normal;
}

.section_title{
    text-align: center;
    font-size: 45px;
    color: var(--secondary-color);
    font-style: normal;
}


@media screen and (max-width: 1024px) {
    body p {
        font-size: 20px;
    }
    .description{
        font-size: 22px;
    }
}


@media screen and (max-width: 768px) {
    body p {
        font-size: 14px;
    }
    .description{
        font-size: 20px;
    }

}
@media screen and (max-width: 480px) {
    body p {
        font-size: 12px;
    }
    .description{
        font-size: 18px;
    }
}